<%# app/views/user/show.html.erb %>
<div class="container">
  <%= render "shared/header" %>
</div>
<div class="container">
    <%# Explanation of how this partial is rendering: 
       https://www.railstutorial.org/book/updating_and_deleting_users#sec-partial_refactoring
    %>
    <%#= render @plugs %>
  <section class="room">
    <h2 class="room-title">Bedroom</h2>
    <% @plugs.each_with_index do |plug, index| %>
    <%# render this every two plugs %>
      <% if (index+1) % 2 == 0%>
        <div class="row">
          <% @class="plug-toggle-on" %>
          <%= render @plugs[index-1] %>
          <%= render @plugs[index] %>
        </div>
        
      <%# render this if the last plug is an odd number %>
      <% elsif index+1 == @plugs.length %>
        <div class="row">
          <% @class="plug-toggle-off" %>
          <%= render @plugs[index] %>
      <% end %>
    <% end %>
  </section>
  <section class="room">
    <h2 class="room-title">Livingroom</h2>
    <% @plugs.each_with_index do |plug, index| %>
    <%# render this every two plugs %>
      <% if (index+1) % 2 == 0%>
        <div class="row">
          <% @class="plug-toggle-off" %>
          <%= render @plugs[index-1] %>
          <%= render @plugs[index] %>
        </div>
        
      <%# render this if the last plug is an odd number %>
      <% elsif index+1 == @plugs.length %>
        <div class="row">
          <% @class="plug-toggle-off" %>
          <%= render @plugs[index] %>
      <% end %>
    <% end %>
  </section>
  <%= link_to "Add plug", new_plug_path %>
</div>