<%# app/views/user/show.html.erb %>
<div class="container">
  <%= render "shared/header" %>
</div>
<div class="container">
  <section class="room">
    <h2 class="room-title">Your plugs</h2>
    <% @plugs.each_with_index do |plug, index| %>
    <%# render this every two plugs %>
      <% if (index+1) % 2 == 0%>
        <div class="row">
          <%= render @plugs[index-1] %>
          <%= render @plugs[index] %>
        </div>
        
      <%# render this if the last plug is an odd number %>
      <% elsif index+1 == @plugs.length %>
        <div class="row">
          <%= render @plugs[index] %>
      <% end %>
    <% end %>
  </section>
  <%= link_to "Add plug", new_plug_path %>
</div>