<h1>User#show</h1>
<p>User path selected</p>
<%= @user.name %> <span> -- </span> <%= @user.email %>

 <% if logged_in? %>
    <p>Current user</p>
    <%= @current_user.name %> <span> -- </span> <%= @current_user.email %> 
<% end %>

<br><br>
<%= link_to "Log out", logout_path, method: :delete %>