<%# app/views/user/show.html.erb %>

<div class="container">
  <%= render "shared/header" %>
</div>
<div class="container">
  <%# Render each of the user's rooms with its plugs %>
  <% @rooms.each do |room| %>
    <section class="room">
      <h2 class="room-title"><%= room.name %></h2>
      <% room.plugs.each_slice(2) do |p1, p2| %>
        <div class="row">
        <%# If there are two, show two %>
        <% if !p2.nil? %>
          <%= render p1 %>
          <%= render p2 %>
        <%# Otherwise, just show the one %>
        <% else %>
          <%= render p1 %>
        <% end %>
        </div>
      <% end %>
    </section>
  <% end %> <%# end @rooms.each %>
  
  <div id="myModal"></div>
  <%= link_to "Add plug", new_plug_path %>
</div>