<%# app/views/plugs/_edit_plug.html.erb %>

<%= form_for(object, :html => { :class => "form-horizontal" }) do |o| %>
    <div class="modal-form-group form-group">
        <!--Plug name-->
        <div class="col-xs-3">
            <%= o.label :name, class: "modal-label control-label" %>
        </div>
        <div class="col-xs-9">
            <span class="form-row-glyphicon glyphicon glyphicon-tag" aria-hidden="true"></span>
            <%= o.text_field :name, class: "modal-form form-control" %>
        </div>
    </div>
    
    <!--Feed ID-->
    <div class="modal-form-group form-group">
        <div class="col-xs-3">
            <%= o.label :feed_id, class: "modal-label control-label" %>
        </div>
        <div class="col-xs-9">
            <span class="form-row-glyphicon glyphicon glyphicon-link" aria-hidden="true"></span>
            <%= o.text_field :feed_id, class: "modal-form form-control" %>     
        </div>
    </div>
    
    <!--Room Selection-->
    <div class="modal-form-group form-group">
        <div class="col-xs-3">
            <%= o.label :room_id, class: "modal-label control-label" %>
        </div>
        <div class="col-xs-9">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle dropdown modal-dropdown" type="button" id="edit-plug-room-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="dropdown-label" id="current-room-name"><%= form_data[:current_room_name] %></span>
                    <span class="caret dropdown-caret"></span>
                    <%# Hidden field used to hold the current room id %>
                    <%= o.text_field :room_id, id: "plug-room-id", class: "default-hide" %>
                </button>
                <ul class="modal-dropdown dropdown-menu" aria-labelledby="edit-plug-room-dropdown">
                    <% form_data[:rooms].each do |r| %>
                        <li><a class="room-selection" href="#"><%= render r, locals: { :room => r } %></a></li>
                    <% end %>
                    <li role="separator" class="divider"></li>
                    <li><a id="add-room" href="#">Add room</a></li>
                </ul>
            </div> 
        </div>
    </div>

    <!--New Room Partial-->
    <%= render partial: "rooms/new", locals: { new_room: o } %>
    
    <div class="modal-footer">
        <%= button_tag(type: 'submit', class: "btn button-save", id: "modal-submit") do %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% end %>
        <button type="button" class="btn button-cancel" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
<% end %>