<%# shared/_plug.html.erb %>

<%# set the button style for this row %>
<% if plug.state == "OFF" %>
    <% @class = "plug-toggle-off" %>
<% elsif plug.state == "ON" %>
    <% @class = "plug-toggle-on" %>
<% end %>

<div class="col-md-4">
    <div class="plug-row">
        <ul class="plug-settings">
            <li class="dropdown">
                <a href="#" class="settings-icon dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                    <% modal_id = "edit-plug-" + plug.id.to_s %>
                    <!--<li><%#= link_to "Edit", "#", class: "dropdown-entry", 'data-toggle': 'modal', 'data-target': '#' + modal_id %></li>-->
                    <li><%= link_to "Edit", 
                            :controller => :modals, 
                            :action => :show,
                            :modal => "modal_sm",
                            :modal_id => modal_id,
                            :header_glyphicon => "glyphicon-wrench",
                            :header_title => plug.name,
                            :form_partial => "plugs/edit_plug",
                            :object_type => "Plug",
                            :object_id => plug.id,
                            :remote => true,
                            class: "dropdown-entry", 
                            'data-toggle': 'modal', 
                            'data-target': "#" + modal_id
                            %>
                    </li>
                    <li><%= link_to "Delete", plug, method: :delete, class: "dropdown-entry" %></li>
                </ul>
            </li>
        </ul>
        <%= link_to flip_plug_path(plug), class: "btn btn-default no-border-btn plug-toggle-button" do %>
            <span class="<%= @class %> glyphicon glyphicon-off plug-toggle-button-inner" aria-hidden="true"></span>
            <h3 class="plug-row-name"><%= plug.name %></h3>
        <% end %>
        </div>
</div>


<%#= render 'shared/modal_sm', locals: { modal_id: modal_id,
                                        header_glyphicon: "glyphicon-wrench",
                                        header_title: plug.name,
                                        body_partial: "plugs/edit_plug",
                                        body_partial_args: "edit_plug: body_partial_obj",
                                        body_partial_obj: plug
                                       } %>

<!--<div class="modal fade" id="<%#= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
<!--    <div class="modal-dialog modal-sm" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <div class="modal-header-inner">-->
<!--                    <span class="glyphicon glyphicon-wrench modal-header-glyphicon modal-header-element" aria-hidden="true"></span>-->
                    <!--<h4 class="modal-title modal-header-element" id="myModalLabel"><%#= plug.name %></h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
                <%#= render 'plugs/edit_plug', edit_plug: plug %>
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn button-save" data-dismiss="modal">-->
<!--                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>-->
<!--                </button>-->
<!--                <button type="button" class="btn button-cancel">-->
<!--                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->