<%# shared/_plug.html.erb %>

<%# set the button style for this row %>
<% if plug.state == "OFF" %>
    <% @class = "plug-toggle-off" %>
<% elsif plug.state == "ON" %>
    <% @class = "plug-toggle-on" %>
<% end %>

<div class="col-md-4">
    <div class="plug-row">
        <ul class="plug-settings">
            <li class="dropdown">
                <a href="#" class="settings-icon dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                    <% modal_id = "edit-plug-" + plug.id.to_s %>
                    <li>
                        <%= link_to :controller => :modals, 
                                    :action => :show,
                                    :modal => "modal_sm",
                                    :modal_id => modal_id,
                                    :header_glyphicon => "glyphicon-wrench",
                                    :header_title => plug.name,
                                    :form_partial => "plugs/edit_plug",
                                    :object_type => "Plug",
                                    :object_id => plug.id,
                                    :remote => true,
                                    class: "dropdown-entry", 
                                    'data-toggle': 'modal', 
                                    'data-target': "#" + modal_id do %>
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            <span>Edit</span>
                        <% end %>
                    </li>
                    <li><%= link_to :controller => :modals,
                                    :action => "show",
                                    :modal => "modal_sm",
                                    :modal_id => modal_id,
                                    :header_glyphicon => "glyphicon-trash",
                                    :header_title => "Delete?",
                                    :form_partial => "plugs/delete_plug",
                                    :object_type => "Plug",
                                    :object_id => plug.id,
                                    :remote => true,
                                    #method: :delete, 
                                    class: "dropdown-entry",
                                    'data-toggle': 'modal',
                                    'data-target': "#" + modal_id do %>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            <span>Delete</span>
                        <% end %>
                    </li>
                </ul>
            </li>
        </ul>
        <%= link_to flip_plug_path(plug), class: "btn btn-default no-border-btn plug-toggle-button" do %>
            <span class="<%= @class %> glyphicon glyphicon-off plug-toggle-button-inner" aria-hidden="true"></span>
            <h3 class="plug-row-name"><%= plug.name %></h3>
        <% end %>
        </div>
</div>