<h1>Create Plug</h1>
<%= form_for(@plug) do |p| %>
    <%= render 'shared/error_messages', obj: @plug %>

    <%= p.label :name %>
    <%= p.text_field :name %>
    
    <%= p.label :feed_id %>
    <%= p.text_field :feed_id %>
    
    <%= p.submit "Save changes" %>
<% end %>